All Things Movies and TV/pkgs/Wadl/GetMovies.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://canada-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetMovies" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="GetMovies" />
  <grammars>
    <jsonTypes targetNamespace="https://canada-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_Title_def" />
      <string name="ResponseActionOutput_items_def_Year_def" />
      <string name="ResponseActionOutput_items_def_Rated_def" />
      <string name="ResponseActionOutput_items_def_Released_def" />
      <string name="ResponseActionOutput_items_def_Runtime_def" />
      <string name="ResponseActionOutput_items_def_Genre_def" />
      <string name="ResponseActionOutput_items_def_Director_def" />
      <string name="ResponseActionOutput_items_def_Writer_def" />
      <string name="ResponseActionOutput_items_def_Actors_def" />
      <string name="ResponseActionOutput_items_def_Plot_def" />
      <string name="ResponseActionOutput_items_def_Language_def" />
      <string name="ResponseActionOutput_items_def_Country_def" />
      <string name="ResponseActionOutput_items_def_Awards_def" />
      <string name="ResponseActionOutput_items_def_Poster_def" />
      <string name="ResponseActionOutput_items_def_Ratings_def_items_def_Source_def" />
      <string name="ResponseActionOutput_items_def_Ratings_def_items_def_Value_def" />
      <object name="ResponseActionOutput_items_def_Ratings_def_items_def">
        <property name="Source" type="string" />
        <property name="Value" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def_Ratings_def_items_def" name="ResponseActionOutput_items_def_Ratings_def" />
      <string name="ResponseActionOutput_items_def_Metascore_def" />
      <string name="ResponseActionOutput_items_def_imdbRating_def" />
      <string name="ResponseActionOutput_items_def_imdbVotes_def" />
      <string name="ResponseActionOutput_items_def_imdbID_def" />
      <string name="ResponseActionOutput_items_def_Type_def" />
      <string name="ResponseActionOutput_items_def_DVD_def" />
      <string name="ResponseActionOutput_items_def_BoxOffice_def" />
      <string name="ResponseActionOutput_items_def_Production_def" />
      <string name="ResponseActionOutput_items_def_Website_def" />
      <string name="ResponseActionOutput_items_def_Response_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="Title" type="string" />
        <property name="Year" type="string" />
        <property name="Rated" type="string" />
        <property name="Released" type="string" />
        <property name="Runtime" type="string" />
        <property name="Genre" type="string" />
        <property name="Director" type="string" />
        <property name="Writer" type="string" />
        <property name="Actors" type="string" />
        <property name="Plot" type="string" />
        <property name="Language" type="string" />
        <property name="Country" type="string" />
        <property name="Awards" type="string" />
        <property name="Poster" type="string" />
        <property name="Ratings" typeRef="ResponseActionOutput_items_def_Ratings_def" />
        <property name="Metascore" type="string" />
        <property name="imdbRating" type="string" />
        <property name="imdbVotes" type="string" />
        <property name="imdbID" type="string" />
        <property name="Type" type="string" />
        <property name="DVD" type="string" />
        <property name="BoxOffice" type="string" />
        <property name="Production" type="string" />
        <property name="Website" type="string" />
        <property name="Response" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://canada-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="title" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>